.review-form-container {
  padding: 20px 10px;
  margin-bottom: 18px;
}

.review-form-container input {
  padding-left: 10px;
  margin-bottom: 17px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.015em;
}

.button-container {
  text-align: center;
}

.form-btn-icon {
  padding-top: 10px;
  border-radius: 4px;
  height: 50px;
  width: 260px;
}

.form-btn-icon p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.015em;
}

@media (min-width: 576px) {
  .review-form-container {
    margin-bottom: 20px;
  }

  .form-btn-icon {
    width: 293px;
  }
}

@media (min-width: 768px) {
  .review-form-container {
    margin-bottom: 23px;
  }

  .form-btn-icon {
    width: 307px;
  }
}

@media (min-width: 992px) {
  .review-form-container {
    margin-bottom: 26px;
  }

  .form-btn-icon {
    width: 320px;
  }
}

@media (min-width: 1200px) {
  .review-form-container {
    margin-bottom: 29px;
  }

  .form-btn-icon {
    width: 334px;
  }
}
