.movie-details-container {
  padding: 17px 10px 92px 10px;
}

.movie-details-container h1 {
  margin-right: 35px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.015em;
}

@media (min-width: 576px) {
  .movie-details-container {
    padding: 22px 15px 79px 27px;
  }

  .movie-details-container h1 {
    margin-right: 58px;
    margin-bottom: 19px;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .movie-details-container {
    padding: 26px 20px 66px 25px;
  }

  .movie-details-container h1 {
    margin-right: 82px;
    margin-bottom: 21px;
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .movie-details-container {
    padding: 32px 25px 53px 32px;
  }
  
  .movie-details-container h1 {
    margin-right: 141px;
    margin-bottom: 23px;
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  .movie-details-container {
    padding: 36px 30px 38px 40px;
  }

  .movie-details-container h1 {
    margin-right: 200px;
    margin-bottom: 25px;
    font-size: 48px;
  }
}
